# Telegram Bot Token dari @BotFather (Server & Client)
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ
VITE_TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Chat ID Pribadi / Group ID / @channelusername Telegram Anda
TELEGRAM_CHAT_ID=@my_channel_news
VITE_TELEGRAM_CHAT_ID=@my_channel_news

# Interval Pengecekan Berita Otomatis (dalam menit)
CHECK_INTERVAL_MINUTES=10
